
/* 
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */


.profile-column{
  margin-left: auto;
    margin-right: auto;
}

.inline{
  display:inline-block;
   margin-right:5px;
}
.profile_image {
  border-radius: 500px;
  width: 50%;
  
  
}
/* .rightnav{
    float: right;
} */

.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  /* border: solid black; */
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 15px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.75);
  transition: 0.2s ;
}

#switch-1 {
  /* background-color: var(--light); */
  background: rgb(198,24,183);
background: linear-gradient(90deg, rgba(198,24,183,0.8015581232492998) 0%, rgba(20,196,232,0.8491771708683473) 76%);
}

#switch-2 {
  background: rgb(206, 216, 226);

}

#switch-3 {
  background: rgb(80, 78, 78);

}

#switch-4 {
  background: rgb(52,58,64);

}


.profile-block{
    border: 1px  solid;
    border-radius: 10px;
}

/* contact me css */

.contact-form{
    /* background: #fff; */
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
/* .contact-form .form-control{
    border-radius:1rem;
} */
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    /* border-radius: 1rem; */
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    /* border-radius: 1rem; */
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.form-group{
    margin-top: 10px;
}


/* hello animation */


/* 
.hover-zoom{
  transition: transform .6s; 
}

.hover-zoom:hover {
  transform: scale(1.25); 
  opacity: 0.9;
} */


/* dummy */


a:hover{
  transform: scale(1.1);
  transition: transform 0.6s;
}
.card:hover{
  transform: scale(1.05);
  transition: transform 0.6s;
}

/* footer */



textarea {
  resize: none;
}




.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}



.rounded-social-buttons .fa-github, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.github {
background: #24292f;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
color: #24292f;
background: #fefefe;
border-color: #24292f;
}

.rounded-social-buttons .social-button.linkedin {
background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: #bb0000;
background: #fefefe;
border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}